[2018-03-02 13:56] renttek opened #2 "{{magento_bin}} ignores deployers {{bin/php}} setting"
Hi,

I was playing around with this project and ran into some errors on build machines with multiple versions of php installed.

TL;DR: {{magento_bin}} ignores deployers {{bin/php}} setting and executes the wrong php binary

The {{magento_bin}} command just executes the <root>/bin/magneot command, which in turn uses the env command in the shebang to determine which php executable to use
(#!/usr/bi

[2018-03-02 18:10] jalogut commented on #2
@renttek thanks again. See my comment in the PR #3

[2018-03-05 13:38] #2 closed

[2018-04-10 09:42] sivajik34 opened #8 "magento 2.2.3"
Using version ^1.1 for jalogut/magento2-deployer-plus
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't install jalogut/magento2-deployer-plus 1.1.1
    - Conclusion: remove symfony/console v2.8.34
    -

[2018-04-10 16:29] jalogut commented on #8
Hi @sivajik34

Unfortunately I cannot test that until a couple of weeks. Could you try the following?

* Try to install it in a clean Magento 2.2.3 installation
* Try to install it in a clean Magento 2.2.1 just to test if you have the same error. Here I am sure it works

After that, could you also provide your `composer.json` file? Error comes because somehow 2 dependencies are locked to use speci

[2018-04-11 04:45] sivajik34 commented on #8
[code]
Yes ,Its clean installation.

[2018-04-30 20:26] Hobbit78 opened #10 "Where to install"
Hi,

As a noob I try to figuring out how to install the deployment tool.
Do I have to install this in the Magento root? Or outside the root?

It would be a little more clear if I know where to `cd` to.
This also applies to the setup part. Where should the file `deploy.php` copied to?

I hope you can make it a little more clear for noobs like me ;-)

Thank you in advanced!

[2018-05-09 09:19] osrecio commented on #10
Hi @Hobbit78 ,

For me you have 2 key sites where to install this deployment tool (surely there are other options, I speak of the ones I have implemented):

1) Within the project (Magento)
You need install via composer `composer require "jalogut/magento2-deployer-plus"`
In this case you should follow the instructions of the Readme:
 - Copy `deploy.php` to root project and modify with your stages:

[2018-05-09 10:41] jalogut commented on #10
@osrecio  thank you very much for taking the time to clarify the different installation options.

@Hobbit78 I would also suggest you to go for **option 1**. You can deploy from your local or from a CI/CD system as you wish. Just be sure you have `ssh` access to the server on the machine where you deploy from. You need that because `deployer` will start executing actions on the server via `ssh` whe

[2018-05-09 10:45] jalogut commented on #10
You have to install it with composer. Then, the tool will be available on your `vendor_dir`

The `README.md` refers all actions to your project root. So you should have the `deploy.php` file on your project root

[2018-05-09 15:04] danielozano opened #11 "Dependency conflicts Magento 2.1"
## Specifications:
* magento version: 2.1.12 Open Source
* jalogut/magento2-deployer-plus: 1.1.1
* php version: 7.0.28
## Problem:
When I try to install this package inside a Magento 2 project (version < 2.2) I get the following dependency conflict error:
[code]

Actually magento < 2.2 implements this restriction for symfony/console: [~2.3 <2.7](https://github.com/magento/magento2/blob/2.1-develop

[2018-05-24 10:51] osrecio opened #13 "Add app:config:status for Magento 2.2.4"
Added app:config:status : https://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.4CE.html.

Apply this change and avoid workaround as we were doing so far

[2018-05-24 15:41] osrecio commented on #13
Damn it,

We will wait for next release

I will close the ticket

[2018-05-24 15:41] #13 closed

[2018-05-25 10:58] jalogut commented on #10
Hi @Hobbit78

Did that help? If you do not have further questions, we might close this issue.

[2018-05-25 13:04] pierre-opposuits commented on #10
Hi Jalogut,

Hobbit78 here ;-)

Well haven't work it yet because lack of time. But the manual provided by @osrecio seems very clear.
I think I can work from there. You can close the issue.

Thanks a lot. Very happy with it.

[2018-06-28 21:30] superdav42 commented on #8
@sivajik34 I ran into the same problem. I was able to fix it by manually editing my composer.json and adding the line:
[code]
to the "require" section. Then running `composer update`. Just using `composer require "jalogut/magento2-deployer-plus"` failed with the same problem you had.
Probably some packages need to be updated first to avoid the conflicts.

[2018-06-28 23:19] superdav42 opened #14 "Shared_dirs doesn't seem right"
In recipe/magento_2_1.php shared_dirs are set as:
[code]
Seems like it the media folder should be the only shared dir.
Commands like
[code]
fail when pub/static/_cache is a symlink and I see no advantage to making it a shared dir.

Also I would think /var shouldn't be a shared dir as any cache clearing or setting in one release would affect all the others causing all possible problems with version

[2018-06-29 06:16] jalogut commented on #8
Hi @superdav42 thanks for the feedback. As Dani mentioned in another issue. It’s better to install the distribution version of deployer to avoid this conflicts. I would add a fix next week for that.

[2018-06-29 06:19] jalogut commented on #14
Hi @superdav42 yes you are right. I am aware of that but I did not fix it yet. Var should not be shared but some folders inside need it. I am gonna add a fix next week for that.

Regarding the `_cache` why are you executing `deploy:mode:set production`? That should not be needed. The reason why this folder is shared is here:

- https://github.com/jalogut/magento2-deployer-plus/pull/12

[2018-06-29 10:35] jalogut commented on #11
That should be fixed on version `1.1.3`. Please re-open this issue if you still have problems using the new version

[2018-06-29 10:35] #11 closed

[2018-06-29 10:35] jalogut commented on #8
That should be fixed on version `1.1.3`. Please re-open this issue if you still have problems using the new version

[2018-06-29 10:35] #8 closed

[2018-06-29 10:36] #10 closed

[2018-07-04 09:02] robin31 commented on #14
We have the same issue with CSS compiling because of this shared dir:

[code]

[2018-07-04 10:06] jalogut commented on #14
@superdav42 fix has been added in version `2.0`, please let me know if you still have issues

[2018-07-05 15:01] jalogut commented on #14
I managed to reproduce this issue and add a PR that fixes it. It should be available soon.

- https://github.com/jalogut/magento2-deployer-plus/pull/18

[2018-07-12 09:17] jalogut commented on #14
Fixed in version `2.1`

[2018-07-12 09:17] #14 closed

[2018-07-24 18:30] superdav42 opened #20 ""var/cache" cannot be deleted"
Just got this error on a running production server when trying to load any page.
Fatal error: Uncaught Magento\Framework\Exception\FileSystemException: The directory "/srv/releases/20180723163849/var/cache" cannot be deleted Warning!rmdir(/srv/releases/20180723163849/var/cache): Not a directory in /srv/releases/20180723163849/vendor/magento/framework/Filesystem/Driver/File.php:410 Stack trace: #0

[2018-07-24 18:37] superdav42 commented on #20
Actually I think someone else was directly adding/removing modules on the server which would cause it to try and regenerate var/cache. Although it would be good if the went through the deploy process it would be ideal if doing this wouldn't bring the site down.

[2018-09-01 11:06] #20 closed

[2018-10-13 23:48] luukschakenraad opened #23 "config:remove-dev-modules local instead of remote"
I use git-deployment, so Deployer checks out a branch on the remote server. When using `config:remove-dev-modules`, this removes the dev-modules on my local machine which causes two problems:

1. The changed file is never sent to the remote server, so I still get the error `bin/magento setup:db:status` for which this function was designed.
2. In theory I could have checked out a branch in which mo

[2018-10-14 06:42] jalogut commented on #23
Hi @luukschakenraad
Thank you for your report. I have checked the code and you are rigth. The problem is this line:

-
https://github.com/jalogut/magento2-deployer-plus/blob/master/recipe/magento_2_2/config.php#L59

To run that on the server we could replace that line with something like that instead:

[code]
If echo does not set the right format, could you also try `printf "%s\n" $updatedConfig >

[2018-10-14 06:53] jalogut commented on #23
Hi @schmengler

FYI

[2018-10-14 11:18] luukschakenraad commented on #23
Thank you for your response @jalogut! Unfortunately the echo does not work:

[code]

So I tried some other commands and ended up with:

[code]

That works as expected.

[2018-10-14 15:19] jalogut commented on #23
Great! This wouldn’t work either?

[code]

For the artifact deployments we could move the following line between lines 39-40.

- https://github.com/jalogut/magento2-deployer-plus/blob/master/recipe/magento_2_2.php#L27

That way both release types do that on the server. What do you think?

[2018-10-14 16:57] luukschakenraad commented on #23
Yup, echo works as well! Echo didn't work, switched to tee, kept debugging with tee, never switched back to echo.

I don't think line 27 can be moved in between line 39-40. Line 28 (`files:generate`) would then generate static content with the non-modified config.php.

Probably it wouldn't really lead to problems because it will generate static files for modules which aren't used, though I think i

[2018-10-14 19:53] jalogut commented on #23
Ok, then let’s better use `echo` for that as it will work for all os systems. Very good point about the artifact deployment. I will try to think about a solution that works on both. Although  I do not have much time now. If you have any suggestion, I would be very glad to get some help with that.

[2018-10-14 20:13] jalogut commented on #23
@luukschakenraad what about `set('release_path', '.');` rigth after this line?

- https://github.com/jalogut/magento2-deployer-plus/blob/master/recipe/magento_2_2.php#L21

[2018-10-14 20:52] luukschakenraad commented on #23
The echo did not seem to work. I didn't give any errors, but it didn't write content as wel. I now changed it to:

[code]

Just tested it and it seems to work! Would be nice though if we can reset the file after the build so it prevents accidentally committing that modified config file.

[2018-10-19 14:18] #23 closed

[2018-10-19 20:33] luukschakenraad commented on #23
@jalogut Just updated the module and ran a deploy and build. Everything works as expected. Thank you for your help.

About the build-command; I think you're right. Let's not modify it behaviour for now.

[2018-10-20 06:16] jalogut commented on #23
Great! Thanks a lot for your help.

[2018-11-26 08:40] demidov-i-a opened #26 "Loss of the contents of folders var and pub"
When switching to a new release occurs, the contents of folders var and pub are lost with the exception of these shared folders

set ('shared_dirs', [
     '{{magento_dir}}/pub/media',
     '{{magento_dir}}/var/log',
     '{{magento_dir}}/var/backups',
     '{{magento_dir}}/var/session',
]);

The problem is that many modules save files directly to the root of folders var and pub.

For example,
pub

[2018-11-26 08:44] osrecio commented on #26
Yes,  you can solve the problem adding new folder in shared_dirs. For example:
[code]

In your Magento you should add your sitemaps inside of your folder: `sitemaps`

And you shoul hace access to your sitempas like: https://domain.com/sitemaps/google_sitemap_3_1008.xml
And specify in Google Search console this route.

[2018-11-26 08:50] demidov-i-a commented on #26
Thanks for the help!

[2018-11-26 08:50] #26 closed

[2018-12-14 06:48] erfanimani opened #27 "Regarding files:permissions"
In recipe/magento_2_1/files.php theres a files:permissions task:

    task(
        'files:permissions',
        'cd {{magento_dir}} && find var vendor pub/static pub/media app/etc -type f -exec chmod g+w {} \; ' .
        '&& find var vendor pub/static pub/media app/etc -type d -exec chmod g+w {} \; && chmod u+x bin/magento'
    );

For both files and directories it's executing `chmod g+w`. I ass

[2018-12-14 20:11] jalogut commented on #27
Hi @erfanimani

Now that you mention it, I guess you are right. I just took the command from the official magento docs and did not really think about it. Could you create a PR?

[2019-01-04 13:13] sprankhub commented on #27
This is merged and can be closed, right? :)

[2019-01-04 13:20] osrecio commented on #27
Yes, thanks @sprankhub !

[2019-01-04 13:20] #27 closed

[2019-01-11 16:03] stu177 opened #29 "Issue with setup:di:compile"
When `magento_dir` is set to `'.'` in my deploy.php, if I run dep build I get the following error:

[code]
If I set the `magento_dir` to an absolute path, it works for the local build but when pushing to production, this path is incorrect and breaks deployment. If I then change it back to `'.'` it works for production.

It seems like it should just `'.'` for local but it throws the `ClassLoader.ph

[2019-01-11 21:20] jalogut commented on #29
Hi @stu177

Could you execute the command in verbose mode `-vvv` and paste here the output? Are you in the real directory or are you inside a symlink to the real project directory?

You can also try adding the following in your `deploy.php` file:
* `set('magento_bin', 'bin/magento');`

If after that, you have the same issue. Please also copy the verbose output here, so we can compare it.

[2019-01-16 13:01] sprankhub opened #30 "OpCache Reset"
Since Deployer heavily relies on symlinks and symlinks are cached by the OpCache, a PHP reload or any other OpCache reset command is necessary during the deployment. Currently, this is done via a `sudo` command:

https://github.com/jalogut/magento2-deployer-plus/blob/66d1ee4dbc92e10e3ecc250598d12f9d961f110b/deploy.php.sample_2_2_5#L20

I suggest using the project [CacheTool](https://github.com/gor

[2019-01-16 14:42] stu177 commented on #30
There is a method to allow a system user sudo rights for specific commands however this isn't ideal.

Any solution that works and doesn't require sudo would be a good amendment in my opinion.

[2019-01-16 20:01] jalogut commented on #30
Hi @sprankhub

That is exactly the reason why this command is on the sample file and not inside the project task commands. The intention is just to provide an example but you should edit with the command you wish. If you want to do it with the CacheTool, just install it as dependency in your project and edit the command to execute the CacheTool command.

In case that you want to use a sudo command

[2019-01-16 20:21] sprankhub commented on #30
Thanks for the additional information! If I understand correctly, the CacheTool should work in any environment. Would you merge a pull request, if I provide a decent one?

[2019-01-16 22:08] jalogut commented on #30
Hi, thanks for your proposal but I do not think that is needed. I would prefer not adding and additional dependency. I had some issues installing that tool in the past:

* https://github.com/gordalina/cachetool/issues/48#issuecomment-287346033

So for now I’d leave it like that. As I said, anyone can easily add the dependency on their projects and modify the command if they do not want to use sudo

[2019-01-17 07:37] sprankhub commented on #30
Hmm pity. If it worked correctly, we could add the OpCache clear command to the project task commands, which would be nice. However, if you do not want to add this, we can close this issue. Thanks for the fast feedback!

[2019-01-17 07:37] #30 closed

[2019-01-17 10:21] stu177 commented on #29
Ok so after looking into this, I think I've figured out what is going on but my knowledge of composer and autoloaders isn't great so I might be way off.

It seems it has something to do with composer messing with the `generated/code` folder.

In the composer.json there is the PSR-0 section:

[code]
If I remove `generated/code/` from the composer.json, the issue goes away.

I think what is happenin

[2019-01-21 16:05] sprankhub commented on #30
FYI I added `deployer/recipes` as a dependency now, required the cachetool file:

    require 'vendor/deployer/recipes/recipe/cachetool.php';

defined when the OpCache clear should be done:

    after('cache:clear', 'cachetool:clear:opcache');

and configured the cachetool parameter in my `host` definition:

    ->set('cachetool', '/var/run/php7.2-fpm-shop.tld.sock')

Seems to work.

[2019-02-06 08:39] schmengler opened #31 "Contents of config.php in config:remove-dev-modules is parsed by deployer"
This change has a side effect that causes an error if `app/etc/config.php` contains anything that looks like a variable to Deployer: https://github.com/jalogut/magento2-deployer-plus/commit/f8615cfdaaaff82fc6622ac74f6797eb9ae4aa1b

The issue is that the whole contents of the config file is passed as part of an argument to `run()`:

        run("cat <<EOF > {{release_path}}/$configFile $updatedConf

[2019-03-01 03:34] erfanimani commented on #29
Ha, I had exactly the same issue. It would fail every other deployment.

I worked around it by running `rm -rf generated/*` before running `dep build`

[2019-03-01 10:41] stu177 commented on #29
@erfanimani Ah yeh, should I be doing this instead of removing `generated/code` from the autoloader? Or will they both achieve the same thing?

@jalogut Any thoughts on this? Should this be changed in repo?

[2019-03-05 12:04] hamza553 opened #33 "setup:db:status -> No information is available: the Magento application is not installed."
**Here's what am trying to do:**

- I have two seperate magento2.2.7 instances on the same server
- One am using as my dev instance and other one as staging
- I installed the deployment tool on my dev instance, so that what ever changes I make on my dev instance i'd be able to deploy it on my staging server

**Here's what I did**

1. composer require "jalogut/magento2-deployer-plus"
2.  cp vendor/

[2019-03-05 14:23] osrecio commented on #33
Hi, can you check your env.php. Is empty?

[2019-03-05 14:31] jalogut commented on #33
Hi @hamzaa553

Could you also check that your `deploy_path` configuration is correct? Where exactly is you dev instance located on the server (absolute_path)?

[2019-03-05 14:36] osrecio commented on #33
I think is more related with `env.php`. At the end when you launch `setup:db:status`
you have:
[code]
If we check `$this->deploymentConfig->isAvailable()` method:

[code]
Where flatData checked is in `env.php` -> install/date  for constant: `ConfigOptionsListConstants::CONFIG_PATH_INSTALL_DATE`

for this reason that I think is related with `env.php` :)

[2019-03-05 14:37] jalogut commented on #33
Looking again at you configuration I think the problem is that you are giving an absolute path for the `shared_files`. I think this path should be relative.

[2019-03-05 14:40] osrecio commented on #33
Oh yes...
@hamza553  You have `set('shared_files', ['/var/www/staging/app/etc/env.php']);`.
but you have `deploy_path` to `/var/www/html`

Please follow the comments by @jalogut .

[2019-03-05 14:47] hamza553 commented on #33
@jalogut sure am gonna do as you mentioned right away & will keep you posted on

[2019-03-05 14:59] hamza553 commented on #33
The env on my dev instance:

[code]

now that's the error:
[code]

Now when I go and check at my staging instance in **release/<release_number>/app/etc/env.php** _env.php_ appears to be a shortcut 😕

[2019-03-05 17:12] osrecio commented on #33
Hello @hamza553 ,

The `env.php` is a symlinks to shared folder and it should see like this:
[code]
The env.php you copy to your comment is the same that you have when you launch ?:
`cat /var/www/html/releases/20190305145232/app/etc/env.php`

The error: `Invalid configuration file` is declared here:

[code]

And it's seem when try to include the file `/var/www/html/releases/20190305145232/app/etc/

[2019-03-05 19:29] hamza553 commented on #33
Hi @osrecio  it's not the same infact it's empty and when I checked my build artifact folder

there does not exists any env.php, is it supposed be like this or should it be included in the artifact

[2019-03-06 08:27] osrecio commented on #33
Hi @hamza553 ,

The `env.php` is a file that should be unique to each environment. That's why it is not included in the artifact and not should it be included in your version control.

The first time the applications is is deployed, the file has to be filled with the data of that environment, such as the database, etc.

Your initial problem was to declare the `env.php` with absolute paths, when yo

[2019-03-07 04:32] hamza553 commented on #33
@osrecio thanks man, its working now

[2019-03-07 09:48] osrecio commented on #33
I'm glad to hear that.

I proceed to close the issue

[2019-03-07 09:48] #33 closed

[2019-03-09 07:27] erfanimani commented on #29
@stu177 to be honest, I actually have no idea what removing `generated/code` from the autoloader does, my thought processes was to rather not tinker with that and just get rid of the directory... I'll keep a keen eye on this though if there's a better way and to understand the problem better.

[2019-03-09 09:37] jalogut commented on #29
Hi @stu177 and @erfanimani

Glad to see that you are looking further into this issue. I investigated a little a bit about the reason of this `psr-0` and I found that the change was added on version `2.2.6`.

* Commit: https://github.com/magento/magento2/commit/c91a25a5c9f98aa38b64e873aeea160d2d9b6bc6#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780
* PR: https://github.com/magento/magento2/pull/16435

I hone

[2019-03-09 09:44] jalogut commented on #29
Hi again guys,

After reading again your comments, I think @erfanimani is completely right here:

Could any of you maybe create a PR that does a `rm -rf generated/*` before executing `setup:di:compile`. I think that would be the best solution. If you cannot create the PR I would try to add it soon.

[2019-03-09 14:55] erfanimani commented on #29
Thanks for coming back to this issue @jalogut  — I can create a PR Monday at work.

I'm not entirely sure what the best approach would be though. Are you OK with me adding a new invocation after this line? https://github.com/jalogut/magento2-deployer-plus/blob/master/recipe/magento_2_2.php#L28

Otherwise I can add it directly to the `files:generate` task, but I would have to define the location of

[2019-03-09 16:25] jalogut commented on #29
Hi,

Yes, let’s add a new invocation there for now as the issue seems to happen only when using the build task. If we notice more issues in the future, we can add it into the `files:generated` later on. So for now I would go for your first idea. Thx

[2019-03-13 17:03] #29 closed

[2019-03-15 14:08] rikwillems opened #35 "Fix packagist version"
Hi, packagist.org still shows 2.3.0 as the most recent version. Can you please fix this?

[2019-03-15 15:10] TheExplorerMO opened #36 ""deploy:override_shared" usage"
What is the usage or use-cases for "deploy:override_shared" ?

Thanks

[2019-04-26 15:45] rikwillems opened #37 "Exclude node_modules from artifact"
My node_modules directory is +/- 160mb in size and it is included in the build artifact. Magento doesn't need this directory in production. Can we ignore it for the artifact?

[2019-04-29 11:12] osrecio commented on #37
Hi @rikwillems

You can override the variable: `artifact_excludes_file` in `deploy.php`

`set('artifact_excludes_file', '<magento_root>/path/to/artifact/');`

Example:

`set('artifact_excludes_file', __DIR__ . '/../../config/artifact.excludes');`

And add the folders or files that you want exclude.

Example of [artifact.excludes](https://github.com/jalogut/magento2-deployer-plus/blob/master/config

[2019-04-29 11:50] rikwillems commented on #37
Hi @osrecio that is true and found that in the code. Just wonder if it isn't relevant for all users.

[2019-05-17 10:26] jalogut commented on #36
Hi @TheExplorerMO here the reference with the corresponding information in the `CHANGELOG.md`

* https://github.com/jalogut/magento2-deployer-plus/blob/master/CHANGELOG.md#added-3

[2019-05-17 10:26] #36 closed

[2019-05-17 10:30] jalogut commented on #35
Hi, I just checked it and it seems to be ok now. Maybe there was a packagist problem at some point?

<img width="1440" alt="Screenshot 2019-05-17 at 12 28 06" src="https://user-images.githubusercontent.com/6410900/57922141-57d1a100-789f-11e9-8071-59ff8bc21f64.png">

[2019-05-17 10:30] #35 closed

[2019-05-17 10:34] jalogut commented on #37
Hi @rikwillems

Not sure if that is relevant for all users. That is not my case for example. Let's leave the issue open and see if other users upvote it. In there is someone else with the same problem, we could add it.

[2019-06-14 01:08] scottsb commented on #29
FYI, found the root issue here and reported it to Magento (see reference link above).

[2019-06-15 21:17] jalogut commented on #29
Hi @scottsb thanks for the info and for taking the time to report it to magento ;)

[2019-06-21 19:24] rikwillems opened #38 "Exclude .DS_Store & ._.DS_Store from artifact"
Creating artifacts on my MacOS system also brings .DS_Store & ._.DS_Store files to the server. These should be excluded when creating artifacts.

[2019-07-20 18:46] lfolco commented on #10
Sorry to respond to a closed ticket, but I'm also having trouble figuring out directory structure. Where does the Magento code go within this project? When working locally, for example, would it just go in a directory called _magento_? Where should the `magento_dir` variable point to? Local or remote?

[2019-07-21 17:52] jalogut commented on #10
Hi @Ifolco, ‘magento_dir’ is the relative path to mageto files from your project root. So is you place the magento installation directly in your project root the value would be ‘.‘. However if you have magento code in a subdirectory, the value of ‘magento_dir‘ has to be the name of this subdirectory.

[2019-09-25 21:41] dareenzo opened #39 "Question: Is it possible to use both git and artifacts deployment?"
Would it be possible to have both git and artifacts deployment, whereby all  code on the web servers would be coming from git, and only what requires to be compiled gets built as an artifact locally (or on the build server) and copied to the web servers?

This setup would be closer to what Magento docs classifies as pipeline deployment

[2019-10-30 15:29] erfanimani commented on #38
If you check out artifact.php, you'll see that the command that creates the artifact is

    task('artifact:package', 'tar --exclude-from={{artifact_excludes_file}} -czf {{artifact_path}} .');

with the artifact file being

    set('artifact_excludes_file', __DIR__ . '/../../config/artifact.excludes');

I haven't tried it myself, but I would imagine that it should be enough to create that file and

[2019-10-30 15:33] erfanimani opened #40 "Enhancement: Run Composer optimize autoloader after DI compile"
I haven't tested it, but apparently `composer dumpautoload -o --apcu`can be run after DI compile to speed up PHP class lookups. Might be worth looking into.

https://twitter.com/IvanChepurnyi/status/1179280000400465920

[2019-10-30 16:50] dareenzo commented on #39
A month has gone by since I asked this question, and I've learned a lot during that time :smiley:

There would be no benefit.

In regard to being closer to pipeline deployment, I meant it in the sense that the built resources are kept in source control in some deployments branch.

Thanks

[2019-10-30 16:50] #39 closed

[2019-10-30 18:09] rikwillems commented on #38
That is true but having sane defaults in `artifact.excludes` would benefit everybody.

[2019-11-01 03:34] erfanimani commented on #40
Will test for a while with the following, and report back.

[code]

[2019-11-21 16:11] mage2go opened #42 "Compiling fails due to disabled modules"
I am encountering the following error when deploying:

`➤ Executing task files:compile
[production] > cd ~/magento2/releases/20191121160900 && (/usr/bin/php ./bin/magento setup:di:compile)
[production] < You cannot run this command because modules are not enabled. You can enable modules by running the 'module:enable --all' command.
➤ Executing task deploy:failed
`

Is there something i am missing

[2019-11-21 18:04] #42 closed

[2019-11-25 19:47] mage2go commented on #20
I am encountering exactly the same issue.
`~/magento2$ bin/magento setup:di:compile

In Write.php line 202:

  The directory "/data/web/release_production/releases/20191125192232/var/cache/" cannot be deleted Warning!rmdir(/data/web/release_production/releases/20191125192232/var/cache/): Not a
  directory
`
If i replace the symlink with a real folder it works like expected. Tried to give the folde

[2019-11-27 12:26] mage2go opened #43 "Cannot delete var/cache folder"
I am encountering exactly the same issue as #20
There has been no change in the modules.

[code]

If i replace the symlink with a real folder it works like expected. Tried to give the folders 777 permissions but to no avail.

Magento 2.3.2, PHP7.2

[2019-12-05 10:42] osrecio commented on #38
I will work on it to be added. Thanks @rikwillems

[2019-12-05 10:45] osrecio commented on #31
Hi @schmengler sorry for the delay (more than we'd like).-

What would you do to solve the problem?

We could create a local file and then use Deployer's `cp` function.

[2019-12-05 10:46] osrecio commented on #40
Can you create a PR @erfanimani ?

I like the idea!

[2019-12-05 10:57] erfanimani commented on #40
Yes, it works good. Haven't benchmarked it, but I'll create a pr when I get
the chance.

On Thu, 5 Dec 2019, 12:46 Oscar Recio, <notifications@github.com> wrote:

[2019-12-05 12:03] schmengler commented on #31
Good question. Your suggestion sounds reasonable, and I don't have a better idea

[2019-12-16 12:30] wilfriedwolf opened #46 "Deployment fails with upgrade to symfony/console version 5"
With the upgrade to symfony/console from 4.1.11 to 4.1.12
magento2-deployer-plus will fail, because of the type declaration introduced there and the missing description in magento2-deployer-plus.
[code]
I'll do a pull request in a while...

Best regards,
Willi

[2019-12-17 15:25] piotrkwiecinski commented on #46
It's related to: https://github.com/jalogut/magento2-deployer-plus/commit/f7e076244f85be354b87818ed9c846143f336b0b I believe.

[2019-12-18 12:08] piotrkwiecinski commented on #46
Just in case if it's a blocker for anyone as a temporary workaround you can lock version of deployer in composer.json to:
`"deployer/dist": "<6.7"`

[2019-12-19 07:47] wilfriedwolf commented on #46
Oh, ok. I thought, deployer would now require a description. I'll close the issue then..

[2019-12-19 07:47] #46 closed

[2020-01-10 16:05] mage2go commented on #43
To solve this problem you need to switch to Redis. However only switching will not work, you should create a real var/cache folder first and then re-compile. it will remove the folder and from then on use Redis.

[2020-01-10 16:05] #43 closed

[2020-01-15 15:28] thiagolima-bm opened #47 "Magento v2.3.3"
When running

`php vendor/bin/dep -n deploy develop`

PHP Fatal error: Declaration of Symfony\Component\Console\Input\Input::getArgument($name) must be compatible with Symfony\Component\Console\Input\InputInterface::getArgument(string $name) in phar:///opt/atlassian/pipelines/agent/build/vendor/deployer/dist/dep/vendor/symfony/console/Input/Input.php on line 28

[2020-01-15 15:29] thiagolima-bm commented on #47
Hello there @osrecio!
Does the deployer support the version 2.3.3 of Magento?

[2020-01-15 20:24] sprankhub commented on #47
Please check your version of `deployer/dist`. I think this issue is solved with the latest version 6.7.3.

[2020-01-16 16:03] grll opened #48 "How to add your production env.php in the artifact"
Hi I am trying to use your build artifacts deploy recipe.

1) Building step goes fine.

2) Sending and deploying:
- When sending to my production server I have trouble understanding how to specify my production "env.php" file.  Obviously my artifact archive don't contain my local "env.php" (as it would put my local env on my production server) but when deploying on my production server `bin/magent

[2020-01-16 16:33] dareenzo commented on #48
Deployer has the concept of [shared_files](https://deployer.org/docs/configuration.html#shared_files), which is just a list of files that are to be shared between deployments. These shared files will exist in the shared `"deploy path"/shared` on your server.
This formula lists [`app/etc/env.php`](https://github.com/jalogut/magento2-deployer-plus/blob/267c2afaa8f7a012ce4c08c35a9f64aa58ed4f12/recipe

[2020-01-16 16:40] grll commented on #48
I see thanks, for the highlight I will dig into that

[2020-01-20 03:06] erfanimani opened #49 "Issue clearing generated dir when using different Magento root"
It seems it's trying to cd into `src`, while already in `src`:

	 $ php vendor/bin/dep build -vvv
	 ➤ Executing task build
	 ➤ Executing task files:remove-generated
	 [localhost] > cd . && (cd src && rm -rf generated/*)
	 [localhost] < sh: 1: cd:
	 [localhost] < can't cd to src
	 In Process.php line 250:

	   [Symfony\Component\Process\Exception\ProcessFailedException]
	   The command "cd . && (cd

[2020-01-20 06:29] erfanimani commented on #49
Never mind — `magento_dir` should still be set to `.` as it seems it's relative to the vendor directory.

[2020-01-20 06:29] #49 closed

[2020-01-20 14:57] sergy-gzh commented on #47
Hi @thiagolima-bm !
Have you tried upgrading your php version to 7.2?
I had the same issue. Noticed that `deployer` doesn't support php lower than 7.2 anymore.
https://github.com/deployphp/deployer/blob/master/composer.json
So its possible that package you have installed is a bit out of date.

[2020-01-27 15:24] stu177 commented on #40
@erfanimani Did you ever get round to benchmarking this? Very curious to see what impact this has.

[2020-02-05 21:17] #37 closed

[2020-02-10 10:36] stu177 opened #50 "Artifact symlinks and deploy mode"
Something I've noticed when building an artifact locally is if you're in developer mode, the artifact is built using the symlinks of your local environment. This casuses broken symlinks to be pushed to the remote.

I've been doing this to get around this issue:

[code]

Symlinks are set by the value for `view_preprocessed` in `app/etc/di.xml`:

[code]

Which causes files in `pub/static/adminhtml/M

[2020-02-19 11:44] erfanimani commented on #40
@stu177 I just created a PR, but haven't actually benchmarked it. @IvanChepurnyi might know

[2020-02-21 09:18] IvanChepurnyi commented on #40
See this Blackfire profiles: https://twitter.com/IvanChepurnyi/status/1179318211076087808
When autoload is dumped before compile step - composer will execute file_exists check on every auto-generated class resolving in huge I/O hit.

[2020-03-18 16:51] Seb2nim opened #52 "Enhancement:Build and deploy identified artifact"
Well, actually i'm not big fan of "building" the app on the target server : The "build / deploy-artifact" approach makes more sense to me.

Only issue is that the build actually packages the current application version (local).

Actually the standard Deployer "deploy" can handle branch and tag options...

I think that would make sense to enhance the "build" task to grab (git clone) a specific bran

[2020-03-27 03:30] erfanimani opened #53 "Wrong permissions when extracting archive"
We keep running into permission issues after a deployment, and, while permissions are set correctly when creating the archive, it seems that they're not retained when extracting the archive.

Permissions are set correctly here: https://github.com/jalogut/magento2-deployer-plus/blob/master/recipe/magento_2_1/files.php#L20

But are not retained here: https://github.com/jalogut/magento2-deployer-plus

[2020-04-03 15:40] Morgy93 commented on #50
Same issue here since the last `composer update`
It COULD be due to one of these updates:
[code]
But it could as well be totally false leading.. 😁

[2020-04-03 17:30] dareenzo commented on #50
I used to have these too. In fact its not this packages fault. It is just how Magento works. In developer mode it uses symlinks for static assets. So if you create an artifact while in developer mode, when the package is "untared" elsewhere it will have invalid symlinks. The solution is just something in the lines of what the OP posted: get your site in production before deploy-artifacts.

[2020-04-09 08:51] Maksold opened #55 "Do you plan to fix crontab:update command?"
@jalogut In this commit https://github.com/jalogut/magento2-deployer-plus/commit/b4c49604ce7830e6c11cc56f4447331622c0d782#diff-208cd8f19512e36ea5e04343f5d39c1d you disabled crontab:update command. Do you plan to fix it or may be you have ideas how to do it?

[2020-04-09 16:03] osrecio commented on #55
No plan to be fixed.

If you want to have the availability you can have in your deploy.php something like this:

[code]

[2020-04-09 16:04] osrecio commented on #53
Check the PR , I made some comments!

Thanks!

[2020-04-09 16:07] osrecio commented on #52
You have the option to use git if you don't use artifact:

https://github.com/jalogut/magento2-deployer-plus/blob/master/deploy.php.sample_2_2#L14-L15

Check it out

[2020-04-09 16:10] osrecio commented on #50
Thanks @dareenzo.

@stu177 you should have your local copy in production mode.

I recommend that you have a separate folder that is a copy of your project and that it is in production mode.

This way you will deploy from your new folder.

[2020-04-09 16:10] #50 closed

[2020-04-09 16:10] osrecio commented on #48
Thanks @dareenzo :D

Closing this issue

[2020-04-09 16:10] #48 closed

[2020-04-09 16:12] osrecio commented on #47
Thanks both of you guys @sprankhub @sergy-gzh .

[2020-04-09 16:12] #47 closed

[2020-04-16 10:35] #40 closed

[2020-04-16 10:41] osrecio commented on #53
This issue was solved by @erfanimani in the PR #54

Thanks!

[2020-04-16 10:41] #53 closed

[2020-04-16 10:42] #38 closed

[2020-04-17 09:47] Seb2nim commented on #52
Sorry @osrecio, i didn't answer fast enough.

Of course i know...

Sorry, it seems it was not clear :

1) The native "Deployer php" deploy principe is to "pull" code from git repo on the deployment server. (deploy:update_code) : branch, head, tag, etc...
=> Not fan of this : need to have "dev" tools on deploy server, each server compiles its own "version" of app : download composer dependencies, l

[2020-04-17 10:18] sprankhub opened #57 "Update On packagist.org"
Could you please manually update the package on packagist.org? It still shows 2.6.0 as the latest version:

![image](https://user-images.githubusercontent.com/930199/79559079-6c1cb000-80a5-11ea-9bfe-46c67b6c630d.png)

Additionally, it would make sense to [configure auto-updates](https://packagist.org/about#how-to-update-packages).

[2020-04-17 10:23] osrecio commented on #57
I can’t the only one can do is @jalogut

I will try to speak with him asap

[2020-04-17 10:44] osrecio commented on #52
I reopened the issue to give you an answer. During this day I will answer you :)

[2020-04-17 12:04] osrecio commented on #57
@sprankhub solved: https://packagist.org/packages/jalogut/magento2-deployer-plus

Now I’m maintainer in packagist and I will add the autoupdate

Thanks!

[2020-04-17 12:04] #57 closed

[2020-04-17 12:45] Seb2nim commented on #52
Done, created PR #58. Hope that will help.
Regards

[2020-04-22 06:35] Maksold commented on #55
Thanks, @osrecio!

[2020-04-22 06:35] #55 closed

[2020-05-09 23:58] srivats-dckap opened #59 "Ideal Directory Structure [question]"
Considering if the document root is /var/www/html/mymagento

What would be ideal directory structure to deploy using deployer-plus?

Ideal directory structure in documentation would be useful

Below is my code
[code]
[code]

[2020-05-12 16:22] hanhpv opened #60 "[Question] what is the use of override_shared_dirs?"
There is not a documentation on this value. Can you please share the use cases of this variable?
I'm not quite understand the idea of copying content of var/cache in release path to shared/var/cache
Thank in advance.

[2020-06-01 14:53] dareenzo commented on #59
I'm not an expert, but looking at what you have above, the first issue I notice is your `magento_dir`. You have set it the same as `deploy_path`. While its always assumed that `magento_dir` will leave inside `deploy_path`.
I suggest you set it to dot (`.`) only.

[2020-06-15 18:52] lfolco opened #61 "Error deploying static content"
When I run `dep deploy staging`, I get this error message when it gets to the `files:static_assets` task:

[code]

My environment is in production mode though.

[2020-06-30 19:30] lfolco commented on #61
User error :)

[2020-07-10 23:33] dareenzo commented on #60
TLDR: See https://github.com/jalogut/magento2-deployer-plus/pull/18/files

Long version:

The idea here is that the folders in `override_shared_dirs` are mostly cache folders that should be shared between servers in the same way as `pub/media` is, but not between deployments, i.e. each deployment should have its cache, but that cache should be shared between say server A and server B, such that if

[2020-08-20 11:28] norgeindian opened #62 "Failing cache:flush did not remove maintenance flag"
During our recent update from Magento 2.3.4-p2 to Magento 2.3.5-p2 we had the issue, that the `cache:flush` process failed during the `cleanup` task.
This issue was, that the  Class Magento\GoogleShoppingAds\Model\Cache\Type did not exist anymore, as it was removed during this update.
I assume that the `cache:flush` command tried to flush this cache as well, even if it was not there anymore.
Howev

[2020-08-21 07:54] VivekShingala opened #63 "Executing task deploy:update_code cloning the repository every time I run dep deploy staging"
Hi

I have started using this package for deploying my magento 2 application.

However, as many time I run `dep deploy staging` command, it clone the repository again and again. Is this needed? Shouldn't it just git pull?

[code]

How to skip clone on every deployment?

[2020-08-21 13:53] norgeindian opened #64 "Running module:enable or module:disable on the server crushes the page"
During our recent deployments we were facing the issue, that running `bin/magento module:enable` resp. `bin/magento module:disable` on the server after a deployer deployment crushes the whole page.
The error message said, that specific proxies could not be found and debugging a bit further we found out, that the generated folder was completely empty.
Checking https://github.com/jalogut/magento2-de

[2020-08-26 12:49] VivekShingala opened #65 "Task maintenance:set:if-needed always sets the store in maintenance mode"
Hi @jalogut

While deploying the release on server, the task maintenance:set:if-needed always set the site into maintenance mode. Hence it's not zero downtime deployment.

Executing task maintenance:set:if-needed
✔ Executing task maintenance:set
✔ Ok

[2020-08-27 07:17] sprankhub commented on #65
As you can see here:

https://github.com/jalogut/magento2-deployer-plus/blob/267c2afaa8f7a012ce4c08c35a9f64aa58ed4f12/recipe/magento_2_2/maintenance.php#L14

the maintenance mode will be set if `database_upgrade_needed` or `config_import_needed` is set.

`database_upgrade_needed` checks `bin/magento setup:db:status`:

https://github.com/jalogut/magento2-deployer-plus/blob/267c2afaa8f7a012ce4c08c35

[2020-09-01 07:46] Morgy93 opened #66 "rm -rf fails sometimes"
Sometimes I get strange errors from deployer, for example:

[code]

How is it possible that a force remove directory command fails? Isn't that the purpose of the command, is it? 😂

[2020-09-04 08:54] VivekShingala commented on #65
Hi @sprankhub

Yes, I already checked the code behind the task `maintenance:set:if-needed` and I was still facing the issue. Upon checking further, I found that there is some issue with Magento and we need to update this parameter in my.cnf file.

In order for MySQL `TIMESTAMP` fields to follow the preferences and composition expected by Magento's declarative schema architecture, the system variab

[2020-09-04 08:54] #65 closed

[2020-09-21 08:39] rikwillems opened #67 "Running app:config:import after setup:db-data:upgrade doesn't create new websites/stores"
I found that the current order of commands during a deploy doesn't (fully) import the configuration properly.

The `setup:db-data:upgrade` command sets the `config_hash` in the `flag` table. This in turns makes the `app:config:import` think it doesn't need importing. In my case it turns out new website and stores are not created.

Reversing the order of commands helps out but I'm not sure if that

[2020-09-21 11:38] rikwillems commented on #67
Although the documentation isn't very specific about it, it appears you need to run config import before the setup upgrade steps: https://devdocs.magento.com/guides/v2.4/config-guide/deployment/pipeline/technical-details.html

[2020-09-28 10:36] jasuten commented on #66
I've found that switching the cache to Redis has stopped that issue from happening on my builds. It may be crons/running scripts that creates new cache files before the directory can be deleted fully.

[2020-10-01 16:51] lfolco commented on #20
Can we reopen this? I am having the same issue.

[2020-10-24 18:11] VivekShingala commented on #66
I am getting the same error while deploying to the server. Is there any workaround without switching the cache to redis? Because redis has it's own issues with some custom modules and visual merchandiser module.

[2020-10-24 19:20] osrecio commented on #66
Hi, this kind of error is due to NFS,

When you’re deleting the cache, some other process in the same moment is trying to write and you get this error.

The only workaround is putting web in Maintenance mode.

What king of issues has Redis? Maybe the modules are nod coded in good way.

[2020-10-24 19:22] osrecio commented on #67
I will check.

[2020-10-24 19:25] #60 closed

[2020-10-24 19:26] osrecio commented on #59
Closing this issue due to inactivity.

Thanks @dareenzo your answer is right!

[2020-10-24 19:26] #59 closed

[2020-10-26 16:10] osrecio commented on #64
To enable or disable modules you should redeploy. Is the safe way to do it.

[2020-10-26 16:13] osrecio commented on #63
Hi, I think you have `repository`  variable setted

Check it out: https://github.com/jalogut/magento2-deployer-plus/blob/master/deploy.php.sample_2_2_5#L14-L15

Repository is optional. If you're deploying in your local environment within repository, the `repository` variable should be blank

[2020-10-26 16:15] osrecio commented on #62
Hi I think is a specific problem.

Have you been able to reproduce it again?

Thanks!

[2020-11-05 15:28] lfolco opened #68 "Cannot run `files:compile`"
When I try to run `files:compile`, I get the following error:

[code]

The permissions on the symlink are `drwxr-xr-x` and I'm running as the directory owner.

We're using absolute symlinks, not sure if that's the issue? Running `files:compile` works when I do it in the context of a full deploy.

[2020-11-06 09:23] jonnsn opened #69 "artifact exclude rules may exclude vendor files from deploy"
file config/artifact.excludes contains the path "pub/media".
This will exclude every path where this pattern is **contained**.
E.g. the amasty module "product-attachment" contains this path
`vendor/amasty/product-attachment/pub/media/amasty/...`
which will be excluded too.
Solution is to use a leading slash, which is no absolute path but relative to the sync root folder.
The other paths are imo no

[2020-11-06 09:57] jonnsn commented on #69
sorry, I am not experienced with github PR.

[2020-11-10 00:30] fooman commented on #68
I have seen this too. I am guessing it could be related to this change

https://github.com/magento/magento2/commit/b3b80e68ab9b8d1bb8263f3e306bc97f3b9fa262#diff-8e4e939ca2dbd66e3362b5a1783aa978a910c060ac5a099b51e8454556bc6febR189-R194

which doesn't like the symlink.

The error itself also happens outside of using deployer when running `bin/magento setup:di:compile` but the var/cache symlink seems

[2020-11-10 14:38] lfolco commented on #68
That looks like a commit for 2.4, but we're on 2.3.6.

[2020-11-17 10:57] sprankhub commented on #64
@osrecio I agree in general. However, things do not always go as expected. Hence, it is rather important that `bin/magento` works correctly on the server as well. And unfortunately, it is currently broken due to the command `composer dump-autoload --optimize --apcu`. Errors not only happen if you run `module:disable`, but also for other commands like `setup:upgrade`.

[2020-12-29 23:43] lfolco commented on #68
@fooman Have you found a workaround? I'm a bit stuck and may need to find an alternative deployment solution if I can't resolve this.

[2020-12-30 00:02] fooman commented on #68
@fooman haven't fully figured it out yet either. Need to double check but I believe just removing those directories worked for me.

[code]
in your `deploy.php`.

[2021-02-15 22:05] lfolco opened #73 "Still maintained?"
Is this project still maintained? Seems to gone quiet for the last 10 months.

[2021-02-16 06:24] sprankhub commented on #73
This is something, which worries me a bit as well. Especially the lack of feedback regarding certain issues / PRs.

Theoretically, I would be fine with taking over a bit of the maintenance when I get the rights. However, I would like to have a second opinion on many things as well, so I would not like to do it completely on my own.

[2021-02-16 10:16] jalogut commented on #73
Hello, unfortunately I am not maintaining this repo anymore. It's being a while that I do not work with Magento. If you want I can add you as maintainers. Otherwise I will mark the project as deprecated and you can continue your developments on your own forks.

[2021-02-16 10:59] sprankhub commented on #73
Thanks for your feedback, @jalogut! We rely on this as a basis for all our deployments, so I would like to work on a proper solution here :-)

Then we should:

1. Find new maintainers for this module. I am in. @lfolco, are you also interested? @osrecio?
2. [optional] Find a new home for this module. @jalogut, probably you would like to not have it under your name any more, right? We could adopt it

[2021-02-16 14:36] lfolco commented on #73
I'm game, although I'm not sure I know enough to contribute much (more of a consumer in this situation :D)

[2021-02-17 01:40] erfanimani commented on #73
I'm happy to help as a maintainer as well, if needed.

[2021-02-17 06:38] sprankhub commented on #73
Awesome! This means we have a team of (at least) three, nice!

Any opinions regarding the namespace? @jalogut, would you like to keep it in your namespace? Others, what do you think?

[2021-02-17 11:29] jalogut commented on #73
@sprankhub @erfanimani I have added you as maintainers as I know you have been using the tool for a while. I guess you can add other maintainers from now on as well.

Regarding the namespace, for me it makes sense to change it but check it also with @osrecio as he is also a maintainer.

Thanks for your help 😉

[2021-02-18 00:43] erfanimani commented on #73
Thanks @jalogut!

Regarding the namespace, I don't mind either way. I think the current one is fine too (unless you don't want it under yours any more of course).

[2021-02-18 19:26] sprankhub commented on #73
Thanks @jalogut! I cannot access any settings of this repository though. Would be good to be able to setup merge checks etc. Could you give me / us more rights?

[2021-02-22 20:39] sprankhub commented on #73
I just learned from @Schrank that deployer has a Magento 2 recipe in the core of version 7 (currently in beta): https://github.com/deployphp/deployer/blob/master/recipe/magento2.php

For the next project, I will first research that recipe to see if we can use it or if we still need this additional repository.

[2021-02-25 09:41] jalogut commented on #73
Hello @sprankhub

I tried to give you more permissions but unfortunately it is not possible. If you need more rights, I think the best is that you fork this repo into an organisation and continue the development there. Here you could update the readme with the link to the new one. That way, you can also change the namespace and everything you want.

Hope that helps ;)

[2021-03-01 21:34] norgeindian opened #74 "Support Composer2 Deployment"
According to [https://github.com/deployphp/deployer/issues/2282](https://github.com/deployphp/deployer/issues/2282) deployer works with Composer 2 only in version 7 and higher.
In the current version of this repo, only deployer 6 is supported.
So it would be great to include version 7.

[2021-03-08 04:48] VivekShingala commented on #61
Hi @lfolco

Could you please tell me what was the error, and how did you fix it? I am getting the same error. Thanks.

[2021-03-08 13:37] lfolco commented on #61
I honestly don't remember what it was, sorry!

[2021-03-29 09:39] rikwillems commented on #73
@jalogut @sprankhub @erfanimani I'd be happy to help out. I'm using this with great joy.

[2021-03-29 09:42] rikwillems opened #75 "Failed opening required 'recipe/common.php'"
Using docker image `markoshust/magento-php:7.4-fpm` I'm getting this error.

`Fatal error: require(): Failed opening required 'recipe/common.php' (include_path='phar:///data/vendor/deployer/dist/dep/bin/../:.:/usr/local/lib/php') in /data/vendor/jalogut/magento2-deployer-plus/recipe/magento_2_2_5.php on line 13`

The fix is to change `require` to `require_once`, also for files `magento_2_2.php` an

[2021-03-29 18:37] sprankhub commented on #73
Awesome to hear @rikwillems! My current feeling is that it makes more sense to work on the core Deployer 7 Magento 2 recipe instead of caring about this project. Maybe you want to check it out as well :)

[2021-03-31 00:23] erfanimani commented on #73
@rikwillems see https://github.com/deployphp/deployer/blob/master/recipe/magento2.php

[2021-03-31 18:40] rikwillems commented on #73
@erfanimani That was really obvious, sorry about that. My use-case is building in CI and using Deployer Plus to deploy the artifact. That is not in core script. We can add that there too as an option. As said I'm happy to help either in this project or in Deployer core.

[2021-06-14 04:37] VivekShingala commented on #75
The error is occurred because recipe/common.php file not present.

[2021-07-27 19:29] lfolco commented on #73
Has anyone switched over to just straight Deployer for any of their M2 projects? Curious if it can handle things now or if this repo is still required.

[2021-07-27 19:33] sprankhub commented on #73
We are using core Deployer to deploy a project via Bitbucket Pipelines. It is not live yet, but the deployment seems to do its job. However, it runs the deployment process on the target server, it does not build a release and then just "copies" the artifact to the target server, which is a better approach I guess...

[2021-07-27 20:31] rikwillems commented on #73
We stopped using Deployer Plus for the build set but are still using it for deployments. The artifact deployments are, by my knowledge, not implemented in Deployer so you would still need Deployer Plus. I can really recommend using the artifacts so you can test and build in CI.

[2021-07-27 20:36] sprankhub commented on #73
So what we all want and need is artifact deployments in core Deployer :grin: If I just had more time...

[2021-08-05 07:09] VivekShingala commented on #42
Hi @mage2go

Could you please share how did you resolve it?

[2021-08-05 07:30] VivekShingala commented on #42
Ok, we resolved it by untracking app/etc/config.php file from .gitingore. Basically, the file app/etc/config.php was missing.

[2021-08-11 12:28] VivekShingala opened #76 "Include vendor in shared directory"
Hi Team

How to include vendor as the shared directory? I tried it to simply add in the list of shared directories but getting error during deployment.

[code]

[2021-12-29 13:25] #75 closed

[2022-01-03 15:02] haidertm opened #79 "Deploy locked."
I try to execute following command

[code]

I get this following error (screenshot attached)

![image](https://user-images.githubusercontent.com/95686585/147945563-d0086e1f-fd9e-4bec-a2cc-7a69395827c7.png)

There is nothing much i have changed using same sample file, What am i doing wrong here

[code]

[2022-01-03 21:37] sprankhub commented on #79
I suggest unlocking as shown in the error message and then deploying again with a `-vv` flag to see what exactly happens and when it fails.

[2022-01-11 21:52] #79 closed, assigned to nobody

[2022-01-11 21:54] sprankhub commented on #76
`vendor` is automatically written by Composer during the deployment. Shared directories should be used for directories, which should be persisted between all deployments. `vendor` changes during deployments and therefore, should not be added as a shared directory.

[2022-01-11 21:54] #76 closed

[2022-01-11 21:56] sprankhub commented on #74
That would indeed be nice.

As an alternative, you could use the Deployer 7 core recipe to deploy with Composer 2: https://github.com/deployphp/deployer/blob/master/recipe/magento2.php

[2022-03-15 09:55] renttek commented on #73
Hey @sprankhub, I'd like to contribute some optimizations and wanted to know: what is the current state / plan here?
Do you maintain this or is your focus more on the deployer core recipe for magento 2?

[2022-03-16 03:05] erfanimani commented on #73
@renttek if I may, I think the focus is on the core recipe for Magento 2. However, quite a few of us are still using and maintaining this, so if you're in the same boat, feel free to contribute here.

[2022-03-16 09:26] sprankhub commented on #73
I personally try to focus on the core Deployer recipe for Magento 2 in the future. However, old projects of us still use the recipe from this repository. If the changes are not very big, I am happy to review and merge :+1:

[2022-03-21 09:11] renttek commented on #73
Okay, thanks for the answer :+1:

[2022-07-28 08:56] akosglue commented on #73
deployer 7 is released and he has nice plans concerning magento artifact upload :)
https://github.com/deployphp/deployer/discussions/3206

[2022-10-02 05:25] erfanimani commented on #73
Just a quick update — artefact deployment seems to be coming soon to the core deployer project (which is the only thing from preventing me switching over to that) https://github.com/deployphp/deployer/pull/3317